body, #root {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
.dot-anim::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}
@keyframes dots {
  0%, 20% { content: ''; }
  40% { content: '.'; }
  60% { content: '..'; }
  80%, 100% { content: '...'; }
}